<html><body>
<h2>About OpenWiFi</h2>
<p>OpenWiFi is <i>open</i> and <i>free</i>!</p>

<p>Somebody---close to you---is kind enough to share his/her network connectivity and bandwidth.  The problem here is that he will become responsible for your actions using his network.  OpenWiFi is a project that helps these good Samaritans, i.e., to to protect them for being charged for malicious actions they didn't do (accesing illegal material, distrubuting IP-protected content, etc).  To do so, we associate your network traffic with some form of identity, e.g., OpenID.</p>

<p>Since OpenWiFi is a research project, we maintain the right to keep logs for debugging and research.  The researchers involved would act in good faith to protect your identity and privacy.  In return, you get Internet connectivity.</p>

<p><a href="/">Back to login</a></p>
</body></html>
