<html><body>
<h2>About OpenWiFi</h2>
<table width=600 border=0><tr><td>
<p>OpenWiFi is <i>open</i> and <i>free</i>!</p>

<p>Somebody is kind enough to share his/her network connectivity and bandwidth with you.  The problem here is that he/she will become responsible for your actions while you are using the network.</p>

<p>OpenWiFi is a project that helps these good Samaritans and therefore help you gain access to network connectivity.  To do so, we associate your network traffic with some form of identity, e.g., <a href="http://openid.net">OpenID</a>.  This in turn allow us to to protect the kind souls who provide network access from being charged for malicious actions they didn't do (accesing illegal material, distributing copyrighted material, etc).</p>

<p>OpenWiFi is a research project of Stanford University.  Since OpenWiFi is a research project, we also maintain logs for debugging and research purposes.  The researchers involved would act in good faith to protect your identity and privacy.</p>

<p>In simpler terms, be good and enjoy the network access!</p>

<p><a href="/">Back to login</a></p>
</td></tr></table>
</body></html>
