<HTML><BODY>
<h3>Terms of Service</h3>
<table width=600 border=0><tr><td>
<p>The goal of OpenWiFi is to allow people to provide WiFi access in a safe and accountable way.  You can learn more about OpenWiFi <a href="about">here</a>.</p>

<p>By using this network, you agree the following terms and conditions:
<ul>
<li>You agree to be wholly responsible for your actions while using this network.  For example, you would be accountable for any material downloaded to and/or uploaded from your device.</li>
<li>Information about your network traffic will be used for debugging and research purposes.  The researchers would nonetheless act in good faith to protect your privacy and identity.</li>
</ul></p>

<p><a href="/">Back to Login</a></p>
</td></tr></table>
</BODY></HTML>
